<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://werewolfx.com/css/input.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body id="bg" class="night" style="display: flex; flex-direction: column; justify-content: center;">
    <header id="header">
        <img id="night" src="http://werewolfx.com/resources/moonicon.png" style="display: block;"></img>
        <img id="day" src="https://static.vecteezy.com/system/resources/previews/009/663/135/non_2x/sun-sun-ray-icon-transparent-free-png.png" style="display: block;"></img>
        <h1 id="dayCnt"><%=locals.dayCnt%></h1>
        <h1> - </h1>
        <h1 id="phase"><%=locals.phase%></h1>
    </header>
    <div id="villageSelect" style="display: flex; justify-content: center;">
        <button class="img"><img class="villageIcon" src="http://werewolfx.com/resources/VillageIcon.png"><div class="villageTxt">1</div></button>
        <button class="img"><img class="villageIcon" src="http://werewolfx.com/resources/VillageIcon.png"><div class="villageTxt">2</div></button>
        <button class="img"><img class="villageIcon" src="http://werewolfx.com/resources/VillageIcon.png"><div class="villageTxt">3</div></button>
    </div>
    <div id="poll" style="display: flex; justify-content: center; align-items: center; height: 75px;">
        <button class="img" id="vPollBtn"><img style="width: 50px; padding-right:5px;" src="https://mcheads.ru/heads/medium/front/vlfl.png"></button>
        <div class="pollBG"><div id="pollBar" class="pollBar" style="width: 50%;">|</div></div>
        <button class="img" id="wPollBtn"><img class="wwIcon" src="https://cdn3.emoji.gg/emojis/86623-wolvesville-werewolf.png"></button>
    </div>
    <div class="village">
        <h2>Village <%=locals.roomNum%></h2>
        <h3 id="susCntr">Remaining Suspicion: 3</h3>
        <div id="playerList" class="playerList">
            <div class="player">
                <button class="img" style="width: 34.09; height: 37.6;">
                    <img class="susIcon" src="https://static-00.iconduck.com/assets.00/thinking-face-emoji-1935x2048-ul7zt5ry.png">
                    <div class="susTxt" style="opacity: 1">1</div>
                </button>
                <div>Alexandria</div>
                <button class="img" title="Attack">
                    <img class="voteBtn" src="http://werewolfx.com/resources/voteicon.png">
                </button>
                <button class="img">
                    <img class="attackBtn" src="http://werewolfx.com/resources/AttackIcon.png">
                </button>
                <button class="img">
                    <img class="seerBtn" src="http://werewolfx.com/resources/CheckIcon.png">
                </button>
                <img class="wwIcon" src="https://cdn3.emoji.gg/emojis/86623-wolvesville-werewolf.png">
                <img class="masonIcon" src="http://werewolfx.com/resources/MasonIcon.png">
                <img class="seerIcon" src="http://werewolfx.com/resources/SeerIcon.png">
                <img class="apSeerIcon" src="http://werewolfx.com/resources/ApSeerIcon.png">
            </div>
            <div class="player">
                <button class="img">
                    <img class="susIcon" src="https://static-00.iconduck.com/assets.00/thinking-face-emoji-1935x2048-ul7zt5ry.png">
                    <div class="susTxt">30</div>
                </button>
                <div >Wisconsinites</div>
                <img class="twisterBtn" src="http://werewolfx.com/resources/TwisterIcon.png">
                </div>
        </div>
    </div>
    <div id="powers" style="display:flex; justify-content: center;">
        <button class="power">
            Count
        </button>
    </div>
    <div id="log">
        <h2>Log</h2>
        <div id="msgList">
            <p>My role: Seer</p>
            <p>pc is not  a Werewolf</p>
            <p>You were attacked in the night</p>
        </div>
    </div>
    <footer id="footer">
    </footer>
    <script id="villageScript" src="http://werewolfx.com/scripts/village.js" 
    roomcode="<%=locals.roomCode%>"
    playerid="<%=locals.playerID%>"></script>
</body>
</html>